* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: right;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-wrapper {
  padding: 0 20px;
}

#time {
  font-size: 225px;
  position: relative;
  right: -5px;
}

#date {
  font-size: 50px;
}

#weather {
  font-size: 35px;
  margin-top: 15px;
}

#currently {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#currently-conditions {
  margin-left: 10px;
}
